name: dotfiles

services:
  database:
    container_name: sql
    image: docker.io/percona:latest
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - database:/var/lib/mysql
    ports:
      - 127.0.0.1:3306:3306

  phpmyadmin:
    container_name: phpmyadmin
    image: docker.io/phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    environment:
      PMA_HOST: database
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - database
    ports:
      - 8008:80

  iml:
    container_name: iml
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-openvino
    restart: unless-stopped
    ports:
      - "3003:3003"
    volumes:
      - immich-model-cache:/cache
      - /dev/bus/usb:/dev/bus/usb
    devices:
      - /dev/dri:/dev/dri
    device_cgroup_rules:
      - "c 189:* rmw"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3003/"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  database:
  immich-model-cache:
