PidFile /data/data/com.termux.nix/files/home/.ssh/sshd.pid
HostKey /data/data/com.termux.nix/files/home/.ssh/ssh_host_rsa_key

PrintMotd yes
PrintLastLog yes

Port 3022
AddressFamily inet
PasswordAuthentication no