name: Nix Flake Check

on:
  push:
    branches:
      - main

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Find and check flakes
        run: |
          find . -name "flake.nix" -print0 | while IFS= read -r -d $'\0' file; do
            dir=$(dirname "$file")
            echo "Checking flake in $dir"
            nix flake check "$dir"
          done
